.Chat {
   display: flex;
   margin-left: 10px;
   flex-direction: column;
   flex: 0.7;
}

.Chat_header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 40px;
   background-color: white;
   border-bottom: 5px whitesmoke;

}
.Chat_headerInfo{
   flex: 1;
   padding-left: 5px;
}

.Chat_headerRight > .MuiSvgIcon-root {
   padding: 6px;
   color: rgba(6, 190, 247, 0.973);
}

.Chat_headerRight > p {
   padding: 10px;
   color: rgba(6, 190, 247, 0.973);
   font-size: 6px;
}

.Chat_headerInfo > h4 {
   margin-bottom: 3px;
   font-weight: 300;
   color: grey;
}

.Chat_body{
   flex: 1;
   background-color: white;
   padding: 20px;
   overflow: scroll;
}

.Chat_message{
   position: relative;
   font-size: 18px;
   padding: 10px;
   width: fit-content;
   border-radius: 5px;
   background-color: rgba(255, 187, 0, 0.952);
   margin-bottom: 20px;
}

.Chat_receiver{
   margin-left: auto;
   background-color: rgb(4, 214, 14);
}

.Chat_timestamp{
   top: 50px;
   margin-right: auto;
   font-size: 8px;
   position: absolute;
}

.Chat_bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   background-color: white;
   border-top: 5px solid whitesmoke;
}

.Chat_bar > form {
   flex: 1;
   display: flex;
}

.Chat_bar > form > input {
   flex: 1;
   outline-width: 0px;
   border-radius: 0px;
   padding: 10px;
   border: none;
}

.Chat_bar > form > button {
   display: none;
}

.Chat_bar > .MuiSvgIcon-root {
   border: 0px;
   padding: 10px;
   color: grey;
}

