doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Password Reset
        link(rel="stylesheet", href="/css/login.css")
    body
        .logo_div
            img.logo(src='/css/logo.png' alt='Logo')
        .wrapper
            .loginContainer
                - status = statusMessage
                if status == "Broken link"
                    h2 This link entered is invalid
                    p
                        a(href="/") Go back
                else
                    div Hi, #{name} 
                    p Please enter your new password
                    br
                    form(method="post")
                        input(type="password", name="password", placeholder="Password", required="")
                        input(type="password", name="confirmPassword", placeholder="Confirm password", required="") 
                        input(type="submit", value="Send")
                    p
                        a(href="/") Go back
                    p #{statusMessage}
        script.
            if (window.history.replaceState)
                window.history.replaceState(null, null, window.location.href) 