doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Password Reset 
        link(rel="stylesheet", href="/css/login.css")
    body
        .logo_div
            img.logo(src='/css/logo.png' alt='Logo')
        .wrapper
            .loginContainer
                div Please enter the email used to register your account
                br
                form(method="post")
                    input(type="email", name="resetEmail", placeholder="Email", required="") 
                    input(type="submit", value="Send")
                p
                    a(href="/") Go back
                p #{statusMessage}
 
        script.
            if (window.history.replaceState)
                window.history.replaceState(null, null, window.location.href) 